@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

html, body{
    min-height: 100vh;
}

body{
    background-color: white;
}
h1.c-logo{
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em;
}